DATABASE_URL="postgresql://neondb_owner:npg_5EMO4dVNWpnB@ep-misty-voice-azjhewom.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&uselibpqcompat=true"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_bGl0ZXJhdGUtb3N0cmljaC0zOTEuY2xlcmsuYWNjb3VudHMuZGV2JA"
CLERK_SECRET_KEY="sk_test_wVIRujofiK3jBsrf7CcB80LxTsCrDHT59qAUgaBses"
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/dashboard
CLERK_WEBHOOK_SIGNING_SECRET="whsec_O6nGKnj4bvzmBrsMqzkSO1itrWdgnjdd"
ADMIN_EMAILS = "yashpatel14082005@gmail.com"